# Allowlist: the image receives program code, sample inputs and the licence,
# never private records, virtual environments or local runtime data.
*
!LICENSE
!deploy/requirements.lock
!backend/app
!examples
!docs/eval/triage-tape-synthetic-7d.jsonl
!docs/eval/web-demo-synthetic-7d.json
**/__pycache__
**/*.pyc
